In [7]:
# 레이블 인코딩
import pandas as pd
from sklearn.preprocessing import LabelEncoder
titanic_data = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형기초\data\titanic.csv")
label_encoder = LabelEncoder()
titanic_data['Gender_encoded'] = label_encoder.fit_transform(titanic_data['Gender'])
print(titanic_data[['Gender','Gender_encoded']].head())

   Gender  Gender_encoded
0    male               1
1  female               0
2  female               0
3  female               0
4    male               1

In [5]:
print(titanic_data.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Gender', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [15]:
# 원-핫 인코딩
import pandas as pd
titanic_data = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형기초\data\titanic.csv")
categorical_columns = ['Gender']
encoded_data = pd.get_dummies(titanic_data, columns=categorical_columns)
print(encoded_data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name   Age  SibSp  Parch  \
0                              Braund, Mr. Owen Harris  22.0      1      0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
2                               Heikkinen, Miss. Laina  26.0      0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
4                             Allen, Mr. William Henry  35.0      0      0
..                                                 ...   ...    ...    ...
886                              Montvila, Rev. Juozas  27.0      0      0
887                       Graham, Miss. Margaret Edith  19.0      0      0
888           Johnston, Miss. Catherine Helen "Carrie"   NaN      1      2
889                              Behr, Mr. Karl Howell  26.0      0      0
890                                Dooley, Mr. Patrick  32.0      0      0

               Ticket     Fare Cabin Embarked  Gender_female  Gender_male
0           A/5 21171   7.2500   NaN        S          False         True
1            PC 17599  71.2833   C85        C           True        False
2    STON/O2. 3101282   7.9250   NaN        S           True        False
3              113803  53.1000  C123        S           True        False
4              373450   8.0500   NaN        S          False         True
..                ...      ...   ...      ...            ...          ...
886            211536  13.0000   NaN        S          False         True
887            112053  30.0000   B42        S           True        False
888        W./C. 6607  23.4500   NaN        S           True        False
889            111369  30.0000  C148        C          False         True
890            370376   7.7500   NaN        Q          False         True

[891 rows x 13 columns]