In [3]:
# 01. hflights의 변수 중 Dest 변수는 도착지점을 의미하는 변수이다. 도착지점 중 가장 적은 도착지 공항명과 가장 많은 공항명의 횟수를 구하시오.
import pandas as pd
hflights = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형기초\data\hflights.csv")
counts = hflights['Dest'].value_counts()
counts

Dest
DAL    9820
ATL    7886
MSY    6823
DFW    6653
LAX    6064
       ...
PSP     106
GUC      86
GRK      42
BPT       3
AGS       1
Name: count, Length: 116, dtype: int64

In [5]:
counts.max()

9820

In [7]:
counts.idxmax()

'DAL'

In [9]:
counts.min()

1

In [11]:
counts.idxmin()

'AGS'

In [15]:
# 02. hflights 데이터에서 'DepTime' 변수의 결측치 개수를 구하시오.
import pandas as pd
hflights = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형기초\data\hflights.csv")
hflights['DepTime'].isna().sum()

2905

In [21]:
# 03. airquality 데이터셋. Ozone 변수에서 결측치를 제외한 데이터들의 중위수를 구하고, 그 중위수를 Ozone 변수의 결측치에 입력한 후에 Ozone의 평균을 구하라.
import pandas as pd
airquality = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형기초\data\airquality.csv")
ozone_median = airquality['Ozone'].dropna().median()
ozone_median

31.5

In [23]:
airquality['Ozone'].fillna(ozone_median, inplace=True)

In [27]:
ozone_mean = airquality['Ozone'].mean()
ozone_mean

39.55882352941177

In [29]:
# 04. diamonds 데이터셋에서 price 변수가 가장 높을 때의 price 값을 구하시오.
import pandas as pd
diamonds = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형기초\data\diamonds.csv")
diamonds['price'].max()

18823

In [31]:
# 05. diamonds 데이터셋의 cut, color 범주별로 price 평균을 구하고 price 변수의 내림차순 기준으로 cut의 상위 3개 집단을 구하시오.
import pandas as pd
diamonds = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형기초\data\diamonds.csv")
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [35]:
diamonds.groupby(['cut','color'])['price'].mean().reset_index().head(3)

    cut color        price
0  Fair     D  4291.061350
1  Fair     E  3682.312500
2  Fair     F  3827.003205

In [43]:
grouped = diamonds.groupby(['cut','color'])['price'].mean().reset_index()
grouped.sort_values(by='price', ascending=False).head(3)

          cut color        price
27    Premium     J  6294.591584
26    Premium     I  5946.180672
33  Very Good     I  5255.879568

In [52]:
# 06. diamonds에서 cut의 범주별 빈도와 비율 중 "ideal" 백분율을 구하시오.
import pandas as pd
diamonds = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형기초\data\diamonds.csv")
cut_counts = diamonds['cut'].value_counts()
cut_counts

cut
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: count, dtype: int64

In [54]:
len(diamonds)

53940

In [56]:
cut_percentages = cut_counts / len(diamonds) * 100
cut_percentages

cut
Ideal        39.953652
Premium      25.567297
Very Good    22.398962
Good          9.095291
Fair          2.984798
Name: count, dtype: float64

In [58]:
cut_percentages['Ideal']

39.953652206154985

In [70]:
# 07. gapminder dataset에서 Europe과 Africa 대륙 중 가장 많은 인구(pop)를 가졌던 국가와 년도를 구하시오.
import pandas as pd
gapminder = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형기초\data\gapminder.csv")
max_pop_data = gapminder[(gapminder['continent']=='Europe') | (gapminder['continent']=='Africa')].groupby(['continent','country']).max().reset_index()
max_pop_data

   continent         country  year  lifeExp       pop     gdpPercap
0     Africa         Algeria  2007   72.301  33333216   6223.367465
1     Africa          Angola  2007   42.731  12420476   5522.776375
2     Africa           Benin  2007   56.728   8078314   1441.284873
3     Africa        Botswana  2007   63.622   1639131  12569.851770
4     Africa    Burkina Faso  2007   52.295  14326203   1217.032994
..       ...             ...   ...      ...       ...           ...
77    Europe           Spain  2007   80.941  40448191  28821.063700
78    Europe          Sweden  2007   80.884   9031088  33859.748350
79    Europe     Switzerland  2007   81.701   7554661  37506.419070
80    Europe          Turkey  2007   71.777  71158647   8458.276384
81    Europe  United Kingdom  2007   79.425  60776238  33203.261280

[82 rows x 6 columns]

In [72]:
max_pop_data.loc[max_pop_data['pop'].idxmax(), ['country','year','pop']]

country      Nigeria
year            2007
pop        135031164
Name: 36, dtype: object

In [74]:
max_pop_data.loc[max_pop_data['pop'].idxmax(), ['country','year','pop']]

country      Nigeria
year            2007
pop        135031164
Name: 36, dtype: object