In [277]:
import pandas as pd
x_train = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제2유형\data\x_train.csv", encoding='cp949')
x_test = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제2유형\data\x_test.csv", encoding='cp949')
y_train = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제2유형\data\y_train.csv", encoding='cp949')

In [278]:
print(x_train.head(3))

   cust_id      총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수  \
0        0  68282840  11264000  6860000.0      기타   강남점    19  3.894737
1        1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000
2        2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000

     주말방문비율  구매주기
0  0.527027    17
1  0.000000     1
2  0.000000     1

In [279]:
print(x_test.shape)

(2482, 10)

In [280]:
print(y_train.head(3))

   cust_id  gender
0        0       0
1        1       0
2        2       1

In [281]:
print(y_train.shape)

(3500, 2)

In [282]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 273.6+ KB
None

In [283]:
x_test_cust_id = x_test['cust_id']
x_train = x_train.drop(columns=['cust_id'])
x_test = x_test.drop(columns=['cust_id'])
y_train = y_train.drop(columns=['cust_id'])

In [284]:
print(x_train.isna().sum())

총구매액          0
최대구매액         0
환불금액       2295
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [285]:
print(x_test.isna().sum())

총구매액          0
최대구매액         0
환불금액       1611
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [286]:
x_train['환불금액'] = x_train['환불금액'].fillna(0)
x_test['환불금액'] = x_test['환불금액'].fillna(0)

In [287]:
print(x_train.isna().sum())
print(x_test.isna().sum())

총구매액       0
최대구매액      0
환불금액       0
주구매상품      0
주구매지점      0
내점일수       0
내점당구매건수    0
주말방문비율     0
구매주기       0
dtype: int64
총구매액       0
최대구매액      0
환불금액       0
주구매상품      0
주구매지점      0
내점일수       0
내점당구매건수    0
주말방문비율     0
구매주기       0
dtype: int64

In [288]:
print(x_train['주구매상품'].value_counts())

주구매상품
기타        595
가공식품      546
농산물       339
화장품       264
시티웨어      213
디자이너      193
수산품       153
캐주얼       101
명품        100
섬유잡화       98
골프         82
스포츠        69
일용잡화       64
모피/피혁      57
육류         57
남성 캐주얼     55
구두         54
건강식품       47
차/커피       44
피혁잡화       40
아동         40
축산가공       35
주방용품       32
셔츠         30
젓갈/반찬      29
주방가전       26
트래디셔널      23
남성정장       22
생활잡화       15
주류         14
가구         10
커리어         9
대형가전        8
란제리/내의      8
식기          7
액세서리        5
침구/수예       4
통신/컴퓨터      3
보석          3
남성 트랜디      2
소형가전        2
악기          2
Name: count, dtype: int64

In [289]:
print(x_train['주구매상품'].unique())

['기타' '스포츠' '남성 캐주얼' '보석' '디자이너' '시티웨어' '명품' '농산물' '화장품' '골프' '구두' '가공식품'
 '수산품' '아동' '차/커피' '캐주얼' '섬유잡화' '육류' '축산가공' '젓갈/반찬' '액세서리' '피혁잡화' '일용잡화'
 '주방가전' '주방용품' '건강식품' '가구' '주류' '모피/피혁' '남성 트랜디' '셔츠' '남성정장' '생활잡화'
 '트래디셔널' '란제리/내의' '커리어' '침구/수예' '대형가전' '통신/컴퓨터' '식기' '소형가전' '악기']

In [290]:
print(x_train['주구매상품'].unique().size)

42

In [291]:
print(x_train['주구매지점'].unique())

['강남점' '잠실점' '관악점' '광주점' '본  점' '일산점' '대전점' '부산본점' '분당점' '영등포점' '미아점'
 '청량리점' '안양점' '부평점' '동래점' '포항점' '노원점' '창원점' '센텀시티점' '인천점' '대구점' '전주점'
 '울산점' '상인점']

In [292]:
print(x_train['주구매지점'].unique().size)

24

In [293]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
x_train['주구매상품'] = encoder.fit_transform(x_train['주구매상품'])
x_train['주구매지점'] = encoder.fit_transform(x_train['주구매지점'])

In [294]:
print(x_train['주구매지점'].head())
print(x_train['주구매상품'].head())

0     0
1    19
2     1
3     2
4     8
Name: 주구매지점, dtype: int32
0     5
1    21
2     6
3     5
4    15
Name: 주구매상품, dtype: int32

In [295]:
x_test['주구매상품'] = encoder.fit_transform(x_test['주구매상품'])
x_test['주구매지점'] = encoder.fit_transform(x_test['주구매지점'])

In [296]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [297]:
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns=x_train.columns)

In [298]:
x_train.head(3)

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,-0.14458,-0.262608,-0.047505,-0.738357,-1.904703,-0.009338,0.554247,0.758623,-0.159962
1,-0.54919,-0.547967,-0.265461,0.490702,1.466677,-0.635003,-0.698168,-1.060530,-0.806554
2,-0.54270,-0.563504,-0.275429,-0.661541,-1.727262,-0.635003,-0.436675,-1.060530,-0.806554

In [299]:
x_train.describe()

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
count,3.500000e+03,3.500000e+03,3.500000e+03,3.500000e+03,3.500000e+03,3.500000e+03,3.500000e+03,3.500000e+03,3.500000e+03
mean,-3.349701e-17,-4.263256e-17,3.248195e-17,-6.090366e-17,-8.767590e-17,4.669281e-17,4.263256e-17,1.685001e-16,-4.263256e-17
std,1.000143e+00,1.000143e+00,1.000143e+00,1.000143e+00,1.000143e+00,1.000143e+00,1.000143e+00,1.000143e+00,1.000143e+00
min,-8.829091e-01,-7.082781e-01,-2.754289e-01,-1.122438e+00,-1.904703e+00,-6.718072e-01,-9.596611e-01,-1.060530e+00,-8.469655e-01
25%,-5.332182e-01,-5.248643e-01,-2.754289e-01,-7.383573e-01,-4.851745e-01,-6.350034e-01,-6.110034e-01,-9.663293e-01,-6.853177e-01
50%,-3.896215e-01,-3.072187e-01,-2.754289e-01,-4.310925e-01,-3.077335e-01,-4.141802e-01,-2.623457e-01,-1.754721e-01,-3.216100e-01
75%,8.923657e-02,1.031100e-01,-1.876399e-01,5.675181e-01,7.569129e-01,2.114855e-01,2.824320e-01,4.892244e-01,2.845695e-01
max,1.364826e+01,2.147585e+01,1.845531e+01,2.027026e+00,2.176441e+00,9.780490e+00,1.006664e+01,2.391196e+00,5.861421e+00

In [300]:
x_test = pd.DataFrame(scaler.transform(x_test), columns=x_test.columns)

In [301]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train, y_train.values.ravel())

RandomForestClassifier()

In [302]:
y_test_predicted = model.predict(x_test)

In [303]:
y_test_predicted

array([1, 0, 0, ..., 1, 0, 1], dtype=int64)

In [304]:
from sklearn.metrics import accuracy_score, roc_auc_score
y_train_predicted = model.predict(x_train)
print(accuracy_score(y_train, y_train_predicted))

0.9994285714285714

In [305]:
y_test_proba = model.predict_proba(x_test)
y_test_proba

array([[0.49, 0.51],
       [0.83, 0.17],
       [0.85, 0.15],
       ...,
       [0.41, 0.59],
       [0.5 , 0.5 ],
       [0.49, 0.51]])

In [306]:
print(pd.DataFrame(y_test_proba).head())

      0     1
0  0.49  0.51
1  0.83  0.17
2  0.85  0.15
3  0.38  0.62
4  0.61  0.39

In [307]:
import pandas as pd
df1 = pd.DataFrame({'name':['A','B','C','D'],
                    'age':[18,30,25,42],
                    'city':['Seoul','Incheon','Seoul','Busan']},
                    index=[0,1,2,3])
df2 = pd.DataFrame({'name':['B','C','D','E'],
                    'age':[30,25,42,11],
                    'city':['Incheon','Seoul','Busan','Suwon'],
                    'height':[150,170,180,135]},
                    index=[1,2,3,4])

In [308]:
df1.head(3)

  name  age     city
0    A   18    Seoul
1    B   30  Incheon
2    C   25    Seoul

In [309]:
df2.head(3)

  name  age     city  height
1    B   30  Incheon     150
2    C   25    Seoul     170
3    D   42    Busan     180

In [310]:
pd.concat([df1,df2])

  name  age     city  height
0    A   18    Seoul     NaN
1    B   30  Incheon     NaN
2    C   25    Seoul     NaN
3    D   42    Busan     NaN
1    B   30  Incheon   150.0
2    C   25    Seoul   170.0
3    D   42    Busan   180.0
4    E   11    Suwon   135.0

In [311]:
pd.concat([df1,df2], ignore_index=True)

  name  age     city  height
0    A   18    Seoul     NaN
1    B   30  Incheon     NaN
2    C   25    Seoul     NaN
3    D   42    Busan     NaN
4    B   30  Incheon   150.0
5    C   25    Seoul   170.0
6    D   42    Busan   180.0
7    E   11    Suwon   135.0

In [312]:
pd.concat([df1,df2], axis=1)

  name   age     city name   age     city  height
0    A  18.0    Seoul  NaN   NaN      NaN     NaN
1    B  30.0  Incheon    B  30.0  Incheon   150.0
2    C  25.0    Seoul    C  25.0    Seoul   170.0
3    D  42.0    Busan    D  42.0    Busan   180.0
4  NaN   NaN      NaN    E  11.0    Suwon   135.0

In [313]:
pd.concat([df1,df2], axis=1, join='inner')

  name  age     city name  age     city  height
1    B   30  Incheon    B   30  Incheon     150
2    C   25    Seoul    C   25    Seoul     170
3    D   42    Busan    D   42    Busan     180

In [314]:
y_test_proba

array([[0.49, 0.51],
       [0.83, 0.17],
       [0.85, 0.15],
       ...,
       [0.41, 0.59],
       [0.5 , 0.5 ],
       [0.49, 0.51]])

In [315]:
print(pd.DataFrame(y_test_proba)[1])

0       0.510000
1       0.170000
2       0.150000
3       0.620000
4       0.390000
          ...
2477    0.720000
2478    0.563333
2479    0.590000
2480    0.500000
2481    0.510000
Name: 1, Length: 2482, dtype: float64

In [316]:
df = pd.DataFrame(y_test_proba)[1]
final_df = pd.concat([x_test_cust_id,df], axis=1).rename(columns={1:'gender'})
final_df

      cust_id    gender
0        3500  0.510000
1        3501  0.170000
2        3502  0.150000
3        3503  0.620000
4        3504  0.390000
...       ...       ...
2477     5977  0.720000
2478     5978  0.563333
2479     5979  0.590000
2480     5980  0.500000
2481     5981  0.510000

[2482 rows x 2 columns]

In [317]:
final_df.to_csv('000001.csv', index=False)

In [318]:
final_df = pd.read_csv('000001.csv')
print(final_df)

      cust_id    gender
0        3500  0.510000
1        3501  0.170000
2        3502  0.150000
3        3503  0.620000
4        3504  0.390000
...       ...       ...
2477     5977  0.720000
2478     5978  0.563333
2479     5979  0.590000
2480     5980  0.500000
2481     5981  0.510000

[2482 rows x 2 columns]

In [319]:
final_df

      cust_id    gender
0        3500  0.510000
1        3501  0.170000
2        3502  0.150000
3        3503  0.620000
4        3504  0.390000
...       ...       ...
2477     5977  0.720000
2478     5978  0.563333
2479     5979  0.590000
2480     5980  0.500000
2481     5981  0.510000

[2482 rows x 2 columns]

In [320]:
from sklearn.model_selection import GridSearchCV

In [321]:
params = {
    'max_depth':[3,4,5,6],
    'min_samples_leaf':[3,4,5,6],
    'min_samples_split':[2,4,6]
}

In [322]:
rf_clf = RandomForestClassifier(n_estimators=50, random_state=0)

In [323]:
grid_cv = GridSearchCV(rf_clf, param_grid=params, cv=2)

In [324]:
grid_cv

GridSearchCV(cv=2,
             estimator=RandomForestClassifier(n_estimators=50, random_state=0),
             param_grid={'max_depth': [3, 4, 5, 6],
                         'min_samples_leaf': [3, 4, 5, 6],
                         'min_samples_split': [2, 4, 6]})

In [325]:
grid_cv.fit(x_train, y_train.values.ravel())

GridSearchCV(cv=2,
             estimator=RandomForestClassifier(n_estimators=50, random_state=0),
             param_grid={'max_depth': [3, 4, 5, 6],
                         'min_samples_leaf': [3, 4, 5, 6],
                         'min_samples_split': [2, 4, 6]})

In [326]:
print(grid_cv.best_params_)

{'max_depth': 5, 'min_samples_leaf': 4, 'min_samples_split': 2}

In [327]:
model = RandomForestClassifier(max_depth=5, min_samples_leaf=4, min_samples_split=2)

In [328]:
model.fit(x_train, y_train.values.ravel())
y_predict = model.predict(x_test)
y_predict

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [329]:
y_predict_prob = model.predict_proba(x_test)
y_predict_prob

array([[0.5683458 , 0.4316542 ],
       [0.81291669, 0.18708331],
       [0.79693495, 0.20306505],
       ...,
       [0.576333  , 0.423667  ],
       [0.64462428, 0.35537572],
       [0.45110709, 0.54889291]])

In [330]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5, metric='euclidean')

In [331]:
knn.fit(x_train, y_train.values.ravel())

KNeighborsClassifier(metric='euclidean')

In [332]:
y_test_predicted = knn.predict_proba(x_test)
y_test_predicted

array([[0. , 1. ],
       [1. , 0. ],
       [0.8, 0.2],
       ...,
       [0.2, 0.8],
       [0.6, 0.4],
       [0.6, 0.4]])

In [333]:
df = pd.DataFrame(y_test_predicted)[1]
final_df = pd.concat([x_test_cust_id, df], axis=1).rename(columns={1:'gender'})
final_df.head()

   cust_id  gender
0     3500     1.0
1     3501     0.0
2     3502     0.2
3     3503     0.6
4     3504     0.6

In [426]:
import pandas as pd
train10 = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제2유형\data\Insurance_train_10.csv")
test10 = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제2유형\data\Insurance_test_10.csv")

In [427]:
print(train10.head())

   Gender Ever_Married  Age Graduated  Profession  Work_Experience  \
0    Male           No   22        No  Healthcare                1
1  Female          Yes   67       Yes    Engineer                1
2    Male          Yes   67       Yes      Lawyer                0
3    Male          Yes   56        No      Artist                0
4    Male           No   32       Yes  Healthcare                1

  Spending_Score  Family_Size  Segmentation
0            Low            4             4
1            Low            1             2
2           High            2             2
3        Average            2             3
4            Low            3             3

In [428]:
print(train10.shape)
print(test10.shape)

(6969, 9)
(2267, 8)

In [429]:
print(train10.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6969 entries, 0 to 6968
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           6969 non-null   object
 1   Ever_Married     6862 non-null   object
 2   Age              6969 non-null   int64
 3   Graduated        6909 non-null   object
 4   Profession       6877 non-null   object
 5   Work_Experience  6969 non-null   int64
 6   Spending_Score   6969 non-null   object
 7   Family_Size      6969 non-null   int64
 8   Segmentation     6969 non-null   int64
dtypes: int64(4), object(5)
memory usage: 490.1+ KB
None

In [430]:
print(train10.isna().sum())

Gender               0
Ever_Married       107
Age                  0
Graduated           60
Profession          92
Work_Experience      0
Spending_Score       0
Family_Size          0
Segmentation         0
dtype: int64

In [431]:
train10 = train10.dropna()

In [432]:
print(test10.isna().sum())

Gender              0
Ever_Married       42
Age                 0
Graduated          19
Profession         30
Work_Experience     0
Spending_Score      0
Family_Size         0
dtype: int64

In [433]:
test10 = test10.dropna()

In [434]:
y_train = train10[["Segmentation"]]
x_train = train10.drop(['Segmentation'], axis=1)

In [435]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6718 entries, 0 to 6968
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           6718 non-null   object
 1   Ever_Married     6718 non-null   object
 2   Age              6718 non-null   int64
 3   Graduated        6718 non-null   object
 4   Profession       6718 non-null   object
 5   Work_Experience  6718 non-null   int64
 6   Spending_Score   6718 non-null   object
 7   Family_Size      6718 non-null   int64
dtypes: int64(3), object(5)
memory usage: 472.4+ KB
None

In [436]:
print(x_train['Gender'].unique())
print(x_train['Gender'].unique().size)

['Male' 'Female']
2

In [437]:
x_train['Gender'] = x_train['Gender'].replace(['Male','Female'], [0,1])

In [438]:
print(x_train['Ever_Married'].unique())
print(x_train['Ever_Married'].unique().size)

['No' 'Yes']
2

In [439]:
x_train['Ever_Married'] = x_train['Ever_Married'].replace(['No','Yes'], [0,1])

In [440]:
x_train['Graduated'].unique()

array(['No', 'Yes'], dtype=object)

In [441]:
x_train['Graduated'] = x_train['Graduated'].replace(['No','Yes'], [0,1])

In [442]:
x_train['Profession'].unique()

array(['Healthcare', 'Engineer', 'Lawyer', 'Artist', 'Doctor',
       'Homemaker', 'Entertainment', 'Marketing', 'Executive'],
      dtype=object)

In [443]:
x_train['Profession'] = x_train['Profession'].replace(['Healthcare','Engineer','Lawyer','Artist','Doctor','Homemaker','Entertainment','Marketing',
                                                      'Executive'], [0,1,2,3,4,5,6,7,8])

In [444]:
x_train['Spending_Score'].unique()

array(['Low', 'High', 'Average'], dtype=object)

In [445]:
x_train['Spending_Score'] = x_train['Spending_Score'].replace(['Low','High','Average'], [0,1,2])

In [446]:
test10['Gender'] = test10['Gender'].replace(['Male','Female'], [0,1])

In [447]:
test10['Ever_Married'] = test10['Ever_Married'].replace(['No','Yes'], [0,1])

In [448]:
test10['Graduated'] = test10['Graduated'].replace(['No','Yes'], [0,1])

In [449]:
test10['Profession'] = test10['Profession'].replace(['Healthcare','Engineer','Lawyer','Artist','Doctor','Homemaker','Entertainment','Marketing',
                                                      'Executive'], [0,1,2,3,4,5,6,7,8])

In [450]:
test10['Spending_Score'] = test10['Spending_Score'].replace(['Low','High','Average'], [0,1,2])

In [451]:
print(x_train.info())
print(test10.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6718 entries, 0 to 6968
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           6718 non-null   int64
 1   Ever_Married     6718 non-null   int64
 2   Age              6718 non-null   int64
 3   Graduated        6718 non-null   int64
 4   Profession       6718 non-null   int64
 5   Work_Experience  6718 non-null   int64
 6   Spending_Score   6718 non-null   int64
 7   Family_Size      6718 non-null   int64
dtypes: int64(8)
memory usage: 472.4 KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 2178 entries, 0 to 2266
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           2178 non-null   int64
 1   Ever_Married     2178 non-null   int64
 2   Age              2178 non-null   int64
 3   Graduated        2178 non-null   int64
 4   Profession       2178 non-null   int64
 5   Work_Experience  2178 non-null   int64
 6   Spending_Score   2178 non-null   int64
 7   Family_Size      2178 non-null   int64
dtypes: int64(8)
memory usage: 153.1 KB
None

In [452]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [453]:
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns=x_train.columns)

In [454]:
x_train.head()

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size
0,-0.902604,-1.203804,-1.303562,-1.324114,-1.397202,-0.478692,-0.762325,0.760391
1,1.107905,0.830700,1.421748,0.755222,-0.972170,-0.478692,-0.762325,-1.209140
2,-0.902604,0.830700,1.421748,0.755222,-0.547138,-0.772431,0.410671,-0.552630
3,-0.902604,0.830700,0.755561,-1.324114,-0.122106,-0.772431,1.583666,-0.552630
4,-0.902604,-1.203804,-0.697937,0.755222,-1.397202,-0.478692,-0.762325,0.103881

In [455]:
test10 = pd.DataFrame(scaler.transform(x_train), columns=test10.columns)

In [489]:
test10.head()

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size
0,-2.717299,-3.652947,-2.714882,-4.077393,-1.991056,-0.913041,-1.656529,-1.366446
1,1.324849,0.486259,-2.549831,0.246246,-1.810404,-0.913041,-1.656529,-2.659463
2,-2.717299,0.486259,-2.549831,0.246246,-1.629753,-0.999323,-0.280610,-2.228457
3,-2.717299,0.486259,-2.590177,-4.077393,-1.449101,-0.999323,1.095309,-2.228457
4,-2.717299,-3.652947,-2.678204,0.246246,-1.991056,-0.913041,-1.656529,-1.797451

In [491]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train, y_train.values.ravel())
y_train_predicted = model.predict(x_train)

In [495]:
from sklearn.metrics import f1_score
f1_score(y_train, y_train_predicted, average='macro')

0.9277769495663641

In [497]:
f1_score(y_train, y_train_predicted, average='micro')

0.9285501637392081

In [499]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_train, y_train_predicted)

array([[1509,   57,   41,   21],
       [  48, 1418,   98,   19],
       [  34,   66, 1606,   29],
       [  27,   22,   18, 1705]], dtype=int64)

In [503]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train, y_train.values.ravel())
y_test = model.predict(test10)
df = pd.DataFrame(y_test)
final_df = df.rename(columns={0:'Segmentation_pred'})
final_df.to_csv('000002.csv', index=False)

In [505]:
print(final_df.head())

   Segmentation_pred
0                  4
1                  4
2                  4
3                  4
4                  4