In [33]:
# 01. 주어진 캘리포니아 주택 데이터에서 결측치가 있는 경우 해당 데이터 행을 제외하고 첫 번째 행부터 순서대로 70% 데이터를 추출하여 "housing_median_age"변수의
# Q1(1사분위)값을 정수로 출력하시오.
import pandas as pd
house = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\housing.csv")
house = house.dropna()
len_70 = int(len(house) * 0.7)
house_70 = house.iloc[:len_70]
ans = house_70['housing_median_age'].quantile(0.25)
print(int(ans))

19

In [63]:
# 02. 주어진 캘리포니아 주택 데이터에서 첫번째 행부터 순서대로 80%까지의 데이터를 추출한 후 'total_bedrooms'변수의 결측값(NA)을 'total_bedrooms'변수의 중앙값으로
# 대체하고 대체 전의 'total_bedrooms'변수의 표준편차와 대체 후의 표준편차의 차이의 절대값을 구하시오.
# (답안은 소수점 3째 자리에서 반올림해서 소수점 2째 자리까지 출력하시오.)
import pandas as pd
house = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\housing.csv")
house_80 = house[:int(len(house)*0.8)]
median = house_80['total_bedrooms'].median()
std_na = house_80['total_bedrooms'].std()
house_80['total_bedrooms'] = house_80['total_bedrooms'].fillna(median)
std_af = house_80['total_bedrooms'].std()
round(abs(std_na - std_af), 2)

C:\Users\SongInseung\AppData\Local\Temp\ipykernel_35312\131583294.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_80['total_bedrooms'] = house_80['total_bedrooms'].fillna(median)

1.98

In [100]:
# 03. 타이타닉 데이터의 컬럼 중 빈값 또는 결측치를 구하고 결측값 비율이 가장 높은 컬럼명을 출력하시오.
import pandas as pd
titanic = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\train_df1.csv")
#titanic_na = titanic.isna().sum()
#ratio = titanic_na / len(titanic)
#ratio_desc = ratio.sort_values(ascending=False)
#ratio_desc.index[0]
df = titanic.isna().sum()
df.index[df.argmax()]

'Cabin'

In [112]:
# 04. Boston Housing 데이터이다. 범죄율 컬럼인 'CRIM'변수의 상위에서 10번째 값(즉, 범죄율을 큰 순서로 정렬했을 때 10번째에 위치한 값)으로 상위 10개의 값을
# 변환한 후 'AGE'변수가 80이상인 데이터를 추출하여 'CRIM'변수의 평균을 출력하시오.
import pandas as pd
boston = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\boston.csv")
boston = boston.sort_values(by='CRIM', ascending=False)
boston_10 = boston.iloc[9, 0]
boston.iloc[:10, 0] = boston_10
boston_80 = boston[boston['AGE']>=80]
ans = boston_80['CRIM'].mean()
print(ans)

5.759386625

In [134]:
# 05. insurance 데이터 셋이다. charges 변수의 이상치 합을 구하시오(이상치는 평균에서 +- 1.5 * 표준편차 벗어나는 이상 및 이하값이고 답안은 정수로 출력)
import pandas as pd
insurance = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\insurance.csv")
avg = insurance['charges'].mean()
std = insurance['charges'].std()
upper = avg + 1.5 * std
lower = avg - 1.5 * std
outlier = insurance[(insurance['charges'] >= upper) | (insurance['charges'] <= lower)]
int(outlier['charges'].sum())

6421430

In [164]:
# 06. mtcars 데이터이다. wt 컬럼을 최소-최대 척도(min-max scale)변환한 후 0.5보다 큰 레코드 수를 출력하시오.
import pandas as pd
mtcar = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\mtcars.csv")
mtcar = mtcar.rename(columns={
    'Unnamed: 0':'product_name'
})
#mtcar['wt'] = (mtcar['wt'] - mtcar['wt'].min()) / (mtcar['wt'].max() - mtcar['wt'].min())
#(mtcar['wt'] > 0.5).sum()
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
mtcar['wt_scaled'] = scaler.fit_transform(mtcar[['wt']])
(mtcar['wt_scaled'] > 0.5).sum()

11

In [196]:
# 07. 다음은 국가별 연도별 인구 10만 명당 유병률 데이터이다. 2000년도의 국가별 결핵 유병률 데이터에서 2000년도의 평균값보다 큰 유병률 값을 가진 국가수를 출력하시오.
import pandas as pd
df = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\disease.csv")
df = pd.melt(df, id_vars=['year'])
df_2000 = df[df['year']==2000]
mean_2000 = df_2000['value'].mean()
len(df_2000[(df_2000['value'] > mean_2000)])

76

In [204]:
# 08. 데이터는 페이스북의 라이브에 대한 사용자 반응을 집계한 것이다. 여러 반응 중 love 반응(num_loves)과 wow 반응(num_wows)을 매우 긍정적인 반응이라고 정의
# 할 때 전체 반응의 수(num_reactions)에서 매우 긍정적인 반응의 수가 차지하는 비율을 계산한 후 그 비율이 0.5보다 작고, 0.4보다 크며 유형이 비디오(video)인
# 건수를 정수로 출력하시오.
import pandas as pd
df = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\facebook.csv")
df['ratio'] = (df['num_loves'] + df['num_wows']) / df['num_reactions']
len(df[(df['status_type']=='video')&(df['ratio']<0.5)&(df['ratio']>0.4)])

90

In [224]:
# 09. 데이터는 넷플릭스 등록 콘텐츠의 메타데이터이다. 2018년 1월 중 넷플릭스에 등록된 콘텐츠 중에서 "United kingdom"이 단독 제작한 콘텐츠의 수를 정수로 출력하시오.
import pandas as pd
df = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\netflix.csv", encoding_errors='ignore')
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')
len(df[(df['date_added'] >= '2018-01-01')&(df['date_added'] < '2018-02-01')&(df['country']=='United Kingdom')])

C:\Users\SongInseung\AppData\Local\Temp\ipykernel_35312\2728052788.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

6

In [242]:
# 10. 주어진 y컬럼의 모든 데이터를 활용하여 1사분위수와 3사분위수 차이를 절대값으로 구하고 구한 절대값의 소수점을 버리고 정수로 출력하시오.
# (단, 출력화면에는 정답인 정수만 출력)
import numpy as np
import pandas as pd
x = np.random.choice(range(1,21), size=10, replace=False)
y = [1,2,3,4,5,37,41,42,44,10]
a = pd.DataFrame({'x':x, 'y':y})
df = a['y'].quantile([0.25, 0.5, 0.75])
df = pd.DataFrame({'quantile':df})
int(np.floor(abs(df.iloc[0,0] - df.iloc[2,0])))

36

In [250]:
# 11. 종량제 봉투 가격과 관련된 데이터이다. 용도가 "음식물쓰레기"이고 사용대상이 "가정용"인 "2L"가격의 평균을 소수점을 버린 후 정수로 출력하시오.
# (단 2L가격 컬럼은 종량제 봉투가 존재하면 가격을 값으로, 존재하지 않으면 0을 값으로 기록된다.)
import pandas as pd
df = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\trash.csv", encoding='euc_kr')
df = df[(df['용도']=='음식물쓰레기')&(df['사용대상']=='가정용')&(df['2L가격']!=0)]
int(np.floor(df['2L가격'].mean()))

119

In [262]:
# 12. 비만도가 정상에 속하는 인원 수와 과체중에 속하는 인원수의 차이를 정수로 출력하시오.
# 단 BMI 지수는 Weight/(Height)^2, Weight 단위는 kg, Height 단위는 m이다.
# 18.5미만 = 저체중
# 18.5이상 23미만 = 정상
# 23이상 25미만 = 과체중
# 25이상 30미만 = 경도비만
# 30이상 = 중등비만
import pandas as pd
df = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\bmi.csv")
df['bmi'] = df['Weight'] / (df['Height']*0.01)**2
normal = len(df[(df['bmi']>=18.5)&(df['bmi']<23)])
over = len(df[(df['bmi']>=23)&(df['bmi']<25)])
int(abs(normal - over))

28

In [286]:
# 13. students.csv는 '학교','학년','총 전입학생','총 전출학생','전체 학생수' 변수를 포함한 데이터이다.
# 순 전입학생수는 총전입학생 수에서 총전출학생 수의 차이를 의미한다.
# 순전입학생이 가장 많은 학교의 전체학생수를 출력하시오.
import pandas as pd
df = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\students.csv", encoding='euc-kr')
df['순전입학생'] = df['총전입학생'] - df['총전출학생']
df2 = df.groupby('학교')['순전입학생'].sum().reset_index()
df3 = df2.sort_values(by='순전입학생', ascending=False)
most = df3.iloc[0,0]
df4 = df[df['학교']==most]
df4['전체학생수'].sum()

566

In [314]:
# 14. 출동소방서별로 주민으로부터 연락받은 신고일시와 출동한 출동일시를 기록한 데이터 파일이다. 출동소방서별 신고일시부터 출동일시까지의 연도별 월평균을 구하고
# 가장 늦게 출발한 출동 소방서의 월평균 시간을 분단위로 제출하시오.(30초 단위로 반올림하여 제출)
import pandas as pd
from datetime import datetime
df = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\firestation.csv")
df['신고일시1'] = pd.to_datetime(df['신고일시'])
df['출동일시1'] = pd.to_datetime(df['출동일시'])
df['시간차'] = (df['출동일시1'] - df['신고일시1']).dt.total_seconds()
df1 = df.groupby([df['출동소방서'], df['신고일시1'].dt.year, df['신고일시1'].dt.month]).agg(mean_time=('시간차', 'mean'))
ans = df1.sort_values(by='mean_time', ascending=False).iloc[0]['mean_time']
int(ans/60)

64

In [332]:
# 15. 초등학교의 학년별 학생 수와 교사 수 저장한 데이터이다. 교사 1인당 학생 수가 가장 많은 학교를 선정하고, 선정된 학교의 교사 수를 정수로 출력하시오.
# (학교명의 중복은 없고 단일 학교의 학생수, 교사수 데이터만 존재한다.)
import pandas as pd
df = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\elementary.csv")
#df['total'] = df['student_1'] + df['student_2'] + df['student_3'] + df['student_4'] + df['student_5'] + df['student_6']
#df['per'] = df['total'] / df['teacher']
#df = df.sort_values(by='per', ascending=False)
#int(df.iloc[0]['teacher'])
df['total'] = df[['student_1','student_2','student_3','student_4','student_5','student_6']].sum(axis=1)
df

,school_name,student_1,student_2,student_3,student_4,student_5,student_6,teacher,total
0,서울교육대학교부설초등학교,95,95,95,104,108,110,31,607
1,서울대학교사범대학부설초등학교,97,100,102,102,102,104,36,607
2,서울개일초등학교,183,163,176,186,177,193,42,1078
3,서울구룡초등학교,109,115,115,131,133,132,38,735
4,서울논현초등학교,34,47,34,46,46,46,18,253
...,...,...,...,...,...,...,...,...,...
6304,월랑초등학교,77,91,103,127,127,135,32,660
6305,이도초등학교,199,174,186,228,192,214,50,1193
6306,도련초등학교,199,221,198,211,195,179,54,1203
6307,삼화초등학교,111,104,124,136,141,128,34,744
6308,하귀일초등학교,100,99,103,119,94,97,30,612

In [376]:
# 16. 월별 범죄 데이터이다. 연도별 월평균 범죄건수를 구하고, 가장 범죄가 많이 발생한 연도의 월평균 범죄 건수를 정수로 출력하시오.
import pandas as pd
df = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\crime.csv")
df['case'] = df[['강력범','절도범','폭력범','지능범','풍속범','기타형사범']].sum(axis=1)
df['year'] = df['년월'].str.slice(0,4)
df1 = df.groupby('year').agg(case_mean=('case','mean')).reset_index()
df2 = df1.sort_values(by='case_mean', ascending=False)
#int(df2.iloc[0,1])
int(df2['case_mean'].values[0])

19329