In [1]:
import pandas as pd
house = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\housing.csv")
print(house.head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                  41          880           129.0
1    -122.22     37.86                  21         7099          1106.0
2    -122.24     37.85                  52         1467           190.0

   population  households  median_income  median_house_value ocean_proximity
0         322         126         8.3252              452600        NEAR BAY
1        2401        1138         8.3014              358500        NEAR BAY
2         496         177         7.2574              352100        NEAR BAY

In [3]:
print(house.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  int64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB
None

In [7]:
print(house.isna().sum())

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [9]:
house_dropna = house.dropna()

In [11]:
house_dropna.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [17]:
int(len(house_dropna) * 0.7)

14303

In [19]:
house_dropna_70 = house_dropna.iloc[:int(len(house_dropna)*0.7)]

In [23]:
house_dropna_70.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14303 entries, 0 to 14440
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           14303 non-null  float64
 1   latitude            14303 non-null  float64
 2   housing_median_age  14303 non-null  int64
 3   total_rooms         14303 non-null  int64
 4   total_bedrooms      14303 non-null  float64
 5   population          14303 non-null  int64
 6   households          14303 non-null  int64
 7   median_income       14303 non-null  float64
 8   median_house_value  14303 non-null  int64
 9   ocean_proximity     14303 non-null  object
dtypes: float64(4), int64(5), object(1)
memory usage: 1.2+ MB

In [29]:
df = int(house_dropna_70['housing_median_age'].quantile(0.25))
print(df)

19

In [47]:
# 01. 주어진 캘리포니아 주택 데이터에서 결측치가 있는 경우 해당 데이터 행을 제외하고 첫 번째 행부터 순서대로 70% 데이터를 추출하여 "housing_median_age"변수의
# Q1(1사분위)값을 정수로 출력하시오.
import pandas as pd
house = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\housing.csv")
house_drop = house.dropna()
house_drop_70 = house_drop[:int(len(house_drop)*0.7)]
df = int(house_drop_70['housing_median_age'].quantile(0.25))
print(df)

19

In [49]:
import pandas as pd
house = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\housing.csv")
print(house.head(3))
house.shape

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                  41          880           129.0
1    -122.22     37.86                  21         7099          1106.0
2    -122.24     37.85                  52         1467           190.0

   population  households  median_income  median_house_value ocean_proximity
0         322         126         8.3252              452600        NEAR BAY
1        2401        1138         8.3014              358500        NEAR BAY
2         496         177         7.2574              352100        NEAR BAY

(20640, 10)

In [51]:
house_80 = house.iloc[:int(len(house)*0.8)]
house_80.shape

(16512, 10)

In [53]:
house_80.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        159
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [55]:
df1 = house_80['total_bedrooms'].std()
df1

435.900577052527

In [61]:
df2 = house_80.fillna(house_80.median(numeric_only=True))
df3 = df2['total_bedrooms'].std()
print(df3)

433.9254297608813

In [63]:
ans = abs(df1 - df3)
print(round(ans, 2))

1.98

In [81]:
# 02. 주어진 캘리포니아 주택 데이터에서 첫번째 행부터 순서대로 80%까지의 데이터를 추출한 후 'total_bedrooms'변수의 결측값(NA)을 'total_bedrooms'변수의 중앙값으로
# 대체하고 대체 전의 'total_bedrooms'변수의 표준편차와 대체 후의 표준편차의 차이의 절대값을 구하시오.
# (답안은 소수점 3째 자리에서 반올림해서 소수점 2째 자리까지 출력하시오.)
import pandas as pd
house = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\housing.csv")
house_80 = house[:int(len(house)*0.8)]
bef = house_80['total_bedrooms'].std()
df1 = house_80.fillna(house_80.median(numeric_only=True))
aft = df1['total_bedrooms'].std()
ans = abs(bef - aft)
print(round(ans, 2))

1.98

In [83]:
import pandas as pd
titanic = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\train_df1.csv")
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [85]:
titanic.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [89]:
df = titanic.isna().sum()
df.max()

687

In [91]:
df.argmax()

10

In [93]:
df.index[10]

'Cabin'

In [95]:
df1 = df/len(titanic)
print(df1)

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

In [99]:
df1 = pd.DataFrame(df1)
df1.sort_values(by=0, ascending=False)

                    0
Cabin        0.771044
Age          0.198653
Embarked     0.002245
PassengerId  0.000000
Survived     0.000000
Pclass       0.000000
Name         0.000000
Sex          0.000000
SibSp        0.000000
Parch        0.000000
Ticket       0.000000
Fare         0.000000

In [101]:
df2 = df1.sort_values(by=0, ascending=False)
print(df2.index[0])

Cabin

In [133]:
# 03. 타이타닉 데이터의 컬럼 중 빈값 또는 결측치를 구하고 결측값 비율이 가장 높은 컬럼명을 출력하시오.
import pandas as pd
titanic = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\train_df1.csv")
df = titanic.isna().sum()
#df.max()
#df.argmax()
df1 = df/len(df)
#df.index[df.argmax()]
df1 = pd.DataFrame(df1)
df1 = df1.sort_values(by=0, ascending=False)
ans = df1.index[0]
print(ans)

Cabin

In [1]:
import pandas as pd
boston = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\boston.csv")
print(boston.head(3))

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8

        B  LSTAT  MEDV
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7

In [3]:
print(boston.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       491 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB
None

In [5]:
boston.sort_values(by='CRIM', ascending=False).head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
380,88.9762,0.0,18.1,0,0.671,6.968,91.9,1.4165,24,666,20.2,396.90,17.21,10.4
418,73.5341,0.0,18.1,0,0.679,5.957,100.0,1.8026,24,666,20.2,16.45,20.62,8.8
405,67.9208,0.0,18.1,0,0.693,5.683,100.0,1.4254,24,666,20.2,384.97,22.98,5.0
410,51.1358,0.0,18.1,0,0.597,5.757,100.0,1.4130,24,666,20.2,2.60,10.11,15.0
414,45.7461,0.0,18.1,0,0.693,4.519,100.0,1.6582,24,666,20.2,88.27,36.98,7.0
404,41.5292,0.0,18.1,0,0.693,5.531,85.4,1.6074,24,666,20.2,329.46,27.38,8.5
398,38.3518,0.0,18.1,0,0.693,NaN,100.0,1.4896,24,666,20.2,396.90,30.59,5.0
427,37.6619,0.0,18.1,0,0.679,6.202,78.7,1.8629,24,666,20.2,18.82,14.52,10.9
413,28.6558,0.0,18.1,0,0.597,5.155,100.0,1.5894,24,666,20.2,210.97,20.08,16.3
417,25.9406,0.0,18.1,0,0.679,5.304,89.1,1.6475,24,666,20.2,127.36,26.64,10.4

In [7]:
boston_sort = boston.sort_values(by='CRIM', ascending=False)
boston_sort.iloc[9,0]

25.9406

In [11]:
crim_10 = boston_sort.iloc[9,0]
boston_sort.iloc[:10, 0]

380    88.9762
418    73.5341
405    67.9208
410    51.1358
414    45.7461
404    41.5292
398    38.3518
427    37.6619
413    28.6558
417    25.9406
Name: CRIM, dtype: float64

In [13]:
crim_10 = boston_sort.iloc[9,0]
boston_sort.iloc[:10, 0] = crim_10
boston_sort.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
380,25.9406,0.0,18.1,0,0.671,6.968,91.9,1.4165,24,666,20.2,396.90,17.21,10.4
418,25.9406,0.0,18.1,0,0.679,5.957,100.0,1.8026,24,666,20.2,16.45,20.62,8.8
405,25.9406,0.0,18.1,0,0.693,5.683,100.0,1.4254,24,666,20.2,384.97,22.98,5.0
410,25.9406,0.0,18.1,0,0.597,5.757,100.0,1.4130,24,666,20.2,2.60,10.11,15.0
414,25.9406,0.0,18.1,0,0.693,4.519,100.0,1.6582,24,666,20.2,88.27,36.98,7.0
404,25.9406,0.0,18.1,0,0.693,5.531,85.4,1.6074,24,666,20.2,329.46,27.38,8.5
398,25.9406,0.0,18.1,0,0.693,NaN,100.0,1.4896,24,666,20.2,396.90,30.59,5.0
427,25.9406,0.0,18.1,0,0.679,6.202,78.7,1.8629,24,666,20.2,18.82,14.52,10.9
413,25.9406,0.0,18.1,0,0.597,5.155,100.0,1.5894,24,666,20.2,210.97,20.08,16.3
417,25.9406,0.0,18.1,0,0.679,5.304,89.1,1.6475,24,666,20.2,127.36,26.64,10.4

In [15]:
boston_sort_80 = boston_sort[boston_sort['AGE']>=80]
boston_sort_80

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
380,25.94060,0.0,18.10,0,0.671,6.968,91.9,1.4165,24,666,20.2,396.90,17.21,10.4
418,25.94060,0.0,18.10,0,0.679,5.957,100.0,1.8026,24,666,20.2,16.45,20.62,8.8
405,25.94060,0.0,18.10,0,0.693,5.683,100.0,1.4254,24,666,20.2,384.97,22.98,5.0
410,25.94060,0.0,18.10,0,0.597,5.757,100.0,1.4130,24,666,20.2,2.60,10.11,15.0
414,25.94060,0.0,18.10,0,0.693,4.519,100.0,1.6582,24,666,20.2,88.27,36.98,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,0.07013,0.0,13.89,0,0.550,6.642,85.1,3.4211,5,276,16.4,392.78,9.69,28.7
180,0.06588,0.0,2.46,0,0.488,7.765,83.3,2.7410,3,193,17.8,395.56,7.56,39.8
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
88,0.05660,0.0,3.41,0,0.489,7.007,86.3,3.4217,2,270,17.8,396.90,5.50,23.6
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [17]:
boston_sort_80['CRIM'].mean()

5.759386625

In [19]:
ans = boston_sort_80['CRIM'].mean()
print(ans)

5.759386625

In [53]:
# 04. Boston Housing 데이터이다. 범죄율 컬럼인 'CRIM'변수의 상위에서 10번째 값(즉, 범죄율을 큰 순서로 정렬했을 때 10번째에 위치한 값)으로 상위 10개의 값을
# 변환한 후 'AGE'변수가 80이상인 데이터를 추출하여 'CRIM'변수의 평균을 출력하시오.
import pandas as pd
boston = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\boston.csv")
boston_sort = boston.sort_values(by='CRIM', ascending=False)
top_10 = boston_sort.iloc[9,0]
boston_sort.iloc[:10, 0] = top_10
boston_sort_80 = boston_sort[boston_sort['AGE']>=80]
print(boston_sort_80['CRIM'].mean())

5.759386625

In [55]:
import pandas as pd
insurance = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\insurance.csv")
insurance.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [57]:
insurance.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [59]:
avg = insurance['charges'].mean()
std = insurance['charges'].std()
print(avg)
print(std)

13270.422265141257
12110.011236693994

In [61]:
high = avg + 1.5*std
low = avg - 1.5*std
print(high)
print(low)

31435.439120182247
-4894.594589899734

In [63]:
df = insurance[(insurance['charges']>=high) | (insurance['charges']<=low)]
df

      age     sex     bmi  children smoker     region      charges
14     27    male  42.130         0    yes  southeast  39611.75770
19     30    male  35.300         0    yes  southwest  36837.46700
23     34  female  31.920         1    yes  northeast  37701.87680
29     31    male  36.300         2    yes  southwest  38711.00000
30     22    male  35.600         0    yes  southwest  35585.57600
...   ...     ...     ...       ...    ...        ...          ...
1301   62    male  30.875         3    yes  northwest  46718.16325
1303   43    male  27.800         0    yes  southwest  37829.72420
1308   25  female  30.200         0    yes  southwest  33900.65300
1313   19  female  34.700         2    yes  southwest  36397.57600
1323   42  female  40.370         2    yes  southeast  43896.37630

[156 rows x 7 columns]

In [65]:
df['charges'].sum()

6421430.0206699995

In [69]:
df1 = int(df['charges'].sum())
print(df1)

6421430

In [89]:
# 05. insurance 데이터 셋이다. charges 변수의 이상치 합을 구하시오(이상치는 평균에서 +- 1.5 * 표준편차 벗어나는 이상 및 이하값이고 답안은 정수로 출력)
import pandas as pd
insurance = pd.read_csv(r"D:\2025 단축키 빅데이터분석기사_파이썬\작업형 제1유형\data\insurance.csv")
avg = insurance['charges'].mean()
std = insurance['charges'].std()
insurance_af = insurance[(insurance['charges']>=avg + 1.5*std) | (insurance['charges']<=avg - 1.5*std)]
print(int(insurance_af['charges'].sum()))

6421430